<h1 class="board-name"> {{vm.board.name}}</h1>
<div class="container-fluid kanban-container">
    <div class="kanban-board" class="row">
        <div ng-repeat="flowStep in vm.board.flow_steps" class="panel panel-primary kanban-col">
            <div class="panel-heading">
                {{flowStep.name}}
            </div>
            <div class="panel-body">

                <!-- Listado de tareas -->
                <article ng-repeat="task in flowStep.tasks" class="kanban-task grab" draggable="true">
                    <div class="kanban-label" ng-click="vm.openTask(task)">
                        <i class="remove fa fa-times" ng-click="vm.removeTask(flowStep, task)"></i>
                        <p> {{task.name}}</p>
                    </div>
                </article>

                <!-- Tarea nueva -->
                <article ng-show="flowStep.isAddingTask" class="kanban-task grab">
                    <div class="kanban-label">
                        <p contenteditable="true" ng-model="flowStep.newTaskName"></p>
                    </div>
                </article>

            </div>
            <div class="panel-footer">
                <a ng-hide="flowStep.isAddingTask" href="javascript:void(null)" ng-click="flowStep.isAddingTask = true">Añadir tarjeta...</a>
                <button ng-show="flowStep.isAddingTask" class="btn btn-success" ng-click="vm.addTask(flowStep)">Guardar</button>
                <i ng-show="flowStep.isAddingTask" class="fa fa-times fa-2x" ng-click="flowStep.isAddingTask = false"></i>
            </div>
        </div>

        <!--Añadir columna -->
        <div class="panel panel-primary kanban-col" ng-class="vm.isAddingFlowStep ? 'kanban-col-add-enabled' : 'kanban-col-add-disabled'">
            <div class="panel-body">
                <a ng-hide="vm.isAddingFlowStep" href="javascript:void(null)" ng-click="vm.isAddingFlowStep = true">Añadir una lista...</a>
                <input ng-show="vm.isAddingFlowStep" type="text" class="form-control" ng-model="vm.newFlowStepName">
                <button ng-show="vm.isAddingFlowStep" class="btn btn-success" ng-click="vm.addFlowStep(vm.newFlowStepName)">Guardar</button>
                <i ng-show="vm.isAddingFlowStep" class="fa fa-times fa-2x" ng-click="vm.isAddingFlowStep = false"></i>
            </div>
        </div>
    </div>
</div>