<h1 class="board-name">Listado de tableros</h1>
<div class="boards container-fluid">
    <a class="board" ng-href="#!/boards/{{board.id}}" ng-repeat="board in vm.boards">
        {{board.name}}
    </a>
    <a class="board newboard">
        <span ng-click="vm.isAddingBoard=true" ng-show="!vm.isAddingBoard">
            <i class="fa fa-plus"></i>
            Nuevo tablero
        </span>

        <span ng-show="vm.isAddingBoard">
            <i class="fa fa-times" ng-click="vm.isAddingBoard=false"></i>
            <input type="text" class="form-control" ng-model="vm.newBoardName">
            <button class="btn btn-success" ng-click="vm.addBoard(vm.newBoardName)">Guardar</button>
        </span>
    </a>

</div>