<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Curso AngularJS Básico</title>
    <link rel="stylesheet" href="style.css">

    <!-- Dependencias JS para el framework AngularJS -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-i18n/angular-locale_es-es.js"></script>

    <!-- Ficheros de nuestra aplicación -->
    <script type="text/javascript" src="kanban.module.js"></script>
    <script type="text/javascript" src="kanban.controller.js"></script>

</head>

<body ng-app="cursoangular.kanban" ng-controller="KanbanMainController as vm">

    <h1>Hola, mundo {{vm.mycolor}}</h1>
    <input type="text" ng-model="vm.mycolor"/>
    <button ng-click="vm.changeInfo()">Cambiar valor de variable</button>
</body>
</html>